#MainMenu > li {
    float: left;
    list-style-type: none;
    background: bisque;
    margin: 1px;
    font-size: larger;
    display: block;
}

#MainMenu li:hover ul {
    display:block;

}

#MainMenu a{
    color: coral;
    text-decoration:none;
}

#MainMenu li li{
    padding: 5px;
    border-bottom: dimgrey;
    background: beige;
    position: relative;
    list-style-type: none;
    font-size: smaller;
    min-width: inherit;
}

#MainMenu li ul{

    margin: 0px;
    padding: 0px;
    border-right: 1px solid #000 !important;
    display: none;
}

#MainMenu li:hover{
    background: aquamarine;
}